
<%= form_tag bloggers_path do %>
    <label>Blogger name:</label><br>
    <%= text_field_tag :'blogger[name]' %><br>
  
    <label>Blogger bio:</label><br>
    <%= text_area_tag :'blogger[bio]' %><br>
    
    <label>Blogger age:</label><br>
    <%= number_field_tag :'blogger[age]' %><br>
   
    <%= submit_tag "Create New Blogger" %>
  <% end %>